@import url("https://fonts.cdnfonts.com/css/ds-digital");
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

.principal{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal.dark{
  background: #141D2F;
  color: #fff;
}
.principal.light{
  background: #F6F8FF;
  color: #2B3442;
}

.container {
  width: 450px;
  height: 300px;
  border-radius: 10px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.container.dark{
  background: #1E2A47;
}
.container.light{
  background: #FEFEFE;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}

.clock {
  width: 140px;
  height: 140px;
  /* border: 2px solid black; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock.dark {
  border: 2px solid white;
}
.clock.light {
  border: 2px solid black;
}
.reloj {
  font-family: "DS-Digital", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.fecha-completa{
  font-family: "Freeman", sans-serif;
  font-size: 33px;
}

.dia-año{
  font-family: "Freeman", sans-serif;
  font-size: 25px;
}

.notFound-tittle{
  font-family: "Freeman", sans-serif;
}